+abstract('Cristiano Betta', 'A Credit Card Walks into a Bar', 'talk-a-credit-card-walks-into-a-bar')
  p.text-muted
    a(href='http://braintreepayments.com/') Braintree Payments
  +social('cbetta', 'cbetta', 'http://betta.io')
