+abstract('Laura Frank', 'Containerized Applications with Docker', 'talk-containerized-applications-with-docker')
  p.text-muted
    a(href='http://www.centurylinklabs.com/') CenturyLink Labs
  +social('rhein_wein', 'rheinwein', 'http://laura.is/')
