+abstract('Michele Guido', 'It Takes a Village to Make a Programmer', 'talk-it-takes-a-village')
  p.text-muted
    a(href='https://www.sociomantic.com/') sociomantic labs
  +social('sheley', 'sheley')
