+abstract('Franziska Hinkelmann', 'Mobile web apps with “native app” features', 'talk-mobile-web-apps-native-features')
  p.text-muted
    a(href='http://www.tngtech.com/') TNG Technology
  +social('fhinkel', 'fhinkel')
