#legalModal.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 Legal
            p.item-intro.text-muted 
              | Don't get scared. Austrian law demands this.
            include:markdown legal.md
            button.btn.btn-primary(type='button', data-dismiss='modal')
              i.fa.fa-times
              |  Close Modal
