+abstract('Anika Lindtner', 'Getting more Women in Open Source. Why the f*ck should we care?', 'talk-more-woman-in-open-source')
  p.text-muted
    a(href='http://travis-ci.org/') Travis CI
  +social('langziehohr', 'anikalindtner', 'http://foundation.travis-ci.org/')
