+abstract('Rebecca Murphey', 'Ain\'t No Party Like a Third-Party JavaScript Party', 'talk-aint-no-party')
  p.text-muted
    a(href='http://bazaarvoice.com/') Bazaarvoice
  +social('rmurphey', 'rmurphey', 'http://rmurphey.com/')
