+abstract('Kerstin Puscke', 'No RSVP Required: Asynchronous Messaging', 'talk-asynchronous-messaging')
  p.text-muted
    a(href='https://www.xing.com/') Xing
  +social('titanoboa42', 'titanoboa', 'https://www.xing.com/profile/Kerstin_Puschke')
