+abstract('Merlin Rebrović', 'Storytelling in Design and Engineering', 'talk-storytelling-in-design-and-engineering')
  p.text-muted
    a(href='http://google.com/') Google
  +social('merlinrebrovic', 'merlinrebrovic', 'http://merlin.rebrovic.net/')
