+abstract('Lena Reinhard', 'A Talk About Nothing', 'talk-a-talk-about-nothing')
  p.text-muted
    a(href='http://hood.ie/') Hoodie
  +social('lrnrd', 'ffffux', 'http://wunder.schoenaberselten.com/')
