+abstract('Eric Schoffstall', 'Hacking the Human Genome', 'talk-hacking-the-human-genome')
  p.text-muted
    a(href='http://gulpjs.com/') gulp.js
    |  • #{''}
    a(href='http://wearefractal.com/') Fractal
  +social('contrahacks', 'contra', 'http://contra.io/')
