+abstract('Ben Schwarz', 'Useful Performance Metrics', 'talk-useful-performance-metrics')
  p.text-muted
    a(href='http://germanforblack.com/post/107341615463/time-to-change-up-im-looking-for-a-job') Hire Ben
  +social('benschwarz', 'benschwarz', 'http://germanforblack.com/')
