+abstract('Stephan Seidt', 'The Meaning of Words', 'talk-the-meaning-of-words')
  p.text-muted
    | Multiply • #{''}
    a(href='https://contentful.com/') Contentful
  +social('evilhackerdude', 'ehd')
