+abstract('Jennifer Wong', 'Tonight We\'re Gonna Code Like It\'s 1999: Designing Responsive Emails', 'talk-designing-responsive-emails')
  p.text-muted
    a(href='https://mixmax.com/') Mixmax
  +social('mybluewristband', 'jennz0r', 'http://mochimachine.org/')
