head
  meta(charset='utf-8')
  block title
    title .concat()
  meta(
    name='description', 
    content='.concat() – the web development conference in Salzburg, Austria March 7th 2015'
  )
  meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
  link(rel='publisher', href='https://plus.google.com/112255772257819861777')
  link(rel='shortcut icon', href='/favicon.ico')
  // build:css(.tmp) styles/main.css
  include ../../bower-styles
  link(rel='stylesheet', href='styles/main.css')
  block styles
  // endbuild
