// build:js scripts/vendor.js
include ../../bower-scripts.jade
// endbuild
// build:js({app,.tmp}) scripts/main.js
script(src='scripts/vendor/cbpAnimatedHeader.js')
script(src='scripts/agency.js')
// endbuild
