// bower:js
script(src='../bower_components/jquery/dist/jquery.js')
script(src='../bower_components/jquery.easing/js/jquery.easing.min.js')
script(src='../bower_components/bootstrap/dist/js/bootstrap.js')
script(src='../bower_components/classie/classie.js')
// endbower
