extends ./jade/layout.jade

block content

  include ./jade/header
  include ./jade/about
  include ./jade/map
  include ./jade/speakers
  //- include ./jade/calendar
  include ./jade/tickets
  include ./jade/coc
  include ./jade/sponsors
  include ./jade/team
  include ./jade/footer
  include ./jade/modals
