section#a11y.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Accessibility and Inclusion
    .row
      .col-md-8.col-md-offset-2
        include:markdown a11y.md
