ul.list-group.col-md-4
  h2.text-center Accommodation
  .panel.panel-default
    li.list-group-item 
      a.list-group-link(href='http://www.sacher.com/') Hotel Sacher
      span.pull-right.rating
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
    li.list-group-item 
      a.list-group-link.with-addition(href='http://www.ramada.com/hotels/austria/salzburg/ramada-salzburg-city-centre/hotel-overview') Hotel Ramada
      small.list-group-link-addition #{' '} Speaker Hotel
      span.pull-right.rating
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
    li.list-group-item 
      a.list-group-link.with-addition(href='http://www.adeo-hotels.com/en/adeo-puch-salzburg') Hotel Adeo
      small.list-group-link-addition #{' '} 5min from the venue
      span.pull-right.rating
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
        i.fa.fa-star-o
    li.list-group-item 
      a.list-group-link(href='http://www.yoho.at/') YoHo Hostel
      span.pull-right.rating
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
        i.fa.fa-star-o
        i.fa.fa-star-o
    li.list-group-item 
      a.list-group-link(href='https://www.facebook.com/groups/178249345583145/') Ask for a Couch on Campus
      span.pull-right.rating
        i.fa.fa-star
        i.fa.fa-star-o
        i.fa.fa-star-o
        i.fa.fa-star-o
        i.fa.fa-star-o
