section#calendar
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Calendar
        h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    .row
      .col-lg-12
        ul.timeline
          li
            .timeline-image
              img.img-circle.img-responsive(src='images/about/1.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4 2009-2011
                h4.subheading Our Humble Beginnings
              .timeline-body
                p.text-muted
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
          li.timeline-inverted
            .timeline-image
              img.img-circle.img-responsive(src='images/about/2.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4 March 2011
                h4.subheading An Agency is Born
              .timeline-body
                p.text-muted
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
          li
            .timeline-image
              img.img-circle.img-responsive(src='images/about/3.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4 December 2012
                h4.subheading Transition to Full Service
              .timeline-body
                p.text-muted
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
          li.timeline-inverted
            .timeline-image
              img.img-circle.img-responsive(src='images/about/4.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4 July 2014
                h4.subheading Phase Two Expansion
              .timeline-body
                p.text-muted
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
          li.timeline-inverted
            .timeline-image
              h4
                | Be Part
                br
                | Of Our
                br
                | Story!
