section#coc
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Code of Conduct
    .row
      .col-md-8.col-md-offset-2
        p Our goal is to have an awesome and inclusive community-driven conference where people meet, hang out together, chat, listen to talks, exchange ideas and make new friends. Any harmful or discriminating behaviour will not be tolerated and results in the offending person being expelled from the conference.

        p 
          a(href='#cocModal', data-toggle='modal') Our complete Code of Conduct
          |  helps us to make sure that we are as inclusive and safe as we want everyone to be.

        p 
          | We care about you. If anything happens, please 
          a(href='mailto:conduct@conc.at') contact us.
