footer
  .container
    .row
      .col-md-4
        span.copyright
          | Brought to you by
          br
          a(href="https://multimediatechnology.at/in-english/") MultiMediaTechnology
      .col-md-4
        ul.list-inline.social-buttons
          li
            a(href='https://twitter.com/conc_at')
              i.fa.fa-twitter
          li
            a(href='https://github.com/conc-at')
              i.fa.fa-github-alt
          li
            a(href='#tickets')
              i.fa.fa-ticket
      .col-md-4
        span.copyright
          | We welcome everyone and
          br
          a(href='#coc') defend you from harassment
