footer
  .container
    .row
      .col-md-12
        span.copyright
          | .concat() is not for profit 
          | and brought to you with ❤ by&nbsp;
          a(href="https://multimediatechnology.at/in-english/") MultiMediaTechnology
      .col-md-12
        span.copyright
          | We welcome everyone and&nbsp;
          a(href='#coc') defend you from harassment
      .col-md-12
        ul.list-inline.social-buttons
          li
            a(href='https://twitter.com/conc_at')
              i.fa.fa-twitter
          li
            a(href='https://github.com/conc-at')
              i.fa.fa-github-alt
          li
            a(href='http://lanyrd.com/2015/concat/')
              i.fa.fa-calendar-o
      .col-md-12
        span.copyright
          a.text-muted(href='#legalModal', data-toggle='modal') Legal
