header
  .container
    .intro-text
      h1.intro-heading 
        img(
          src='/images/logos/concat_logo.svg',
          alt='.concat() Logo'
        )
        br
        .logo .concat()
        br
        | Salzburg
        br
        | March 7, 2015
      .intro-lead-in the web development conference in Austria
      a.page-scroll.btn.btn-xl.ticket-now-fix(href='#tickets')
        | Get your ticket now
        span.badge Early Birds Sold Out
