header
  .container
    .intro-text
      h1.intro-heading 
        img(
          src='/images/logos/concat_logo.svg',
          alt='.concat() Logo',
          width='140',
          heiht='140'
        )
        br
        .logo .concat()
        br
        | Salzburg
        br
        | March 7, 2015
      .intro-lead-in the web development conference in Austria
