header
  .container
    .intro-text
      .intro-heading Salzburg
      .intro-heading March 6, 2015
      .intro-lead-in the web development conference in Austria
      //- a.page-scroll.btn.btn-xl(href='#tickets') Get your Ticket
