header
  .container
    .intro-text
      .intro-lead-in the austrian web development conference
      .intro-heading March 6th in Salzburg
      a.page-scroll.btn.btn-xl(href='#tickets') Get your Ticket
