header
  .container
    .intro-text
      h1.intro-heading 
        span.logo
          | .concat()
        br
        | Salzburg
        br
        | March 7, 2015
      .intro-lead-in the web development conference in Austria
      //- a.page-scroll.btn.btn-xl(href='#tickets') Get your Ticket
