header
  .container
    .intro-text
      h1.intro-heading 
        img(
          src='/images/logos/concat_logo.svg',
          alt='.concat() Logo'
        )
        br
        .logo .concat()
        br
        | Salzburg
        br
        | March 7, 2015
      .intro-lead-in the web development conference in Austria
      a.page-scroll.btn.btn-xl(href='http://conc-at.tumblr.com/post/102698333549/early-bird-tickets-available-on-wednesday-november-19th')
        | Early Bird
        .hidden-xs.hidden-sm.visible-md-inline-block.visible-lg-inline-block Tickets available&nbsp;
        | Nov. 19 18:00
        .hidden-xs.hidden-sm.visible-md-inline-block.visible-lg-inline-block CET
