include ./modals/crockford
include ./modals/szczur
include ./modals/reinhard
include ./modals/schoffstall
include ./modals/seidt
include ./modals/guido
include ./modals/murphey
include ./modals/huidobro
include ./modals/schwarz
include ./modals/frank
include ./modals/gasidlo
include ./modals/hemberger
include ./modals/rebrovic
include ./modals/hinkelmann
include ./modals/coc
include ./modals/legal
