section#speakers.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Speakers
        h3.section-subheading.text-muted
    .row
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#speakersModal1', data-toggle='modal')
          //- .portfolio-hover
          //-   .portfolio-hover-content
              //- i.fa.fa-plus.fa-3x
          img.img-responsive(src='images/speakers/lena_reinhard.jpg', alt='')
        .portfolio-caption
          h4 Lena Reinhard
          p.text-muted
            a(href="http://hood.ie") Hood.ie
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#speakersModal2', data-toggle='modal')
          //- .portfolio-hover
          //-   .portfolio-hover-content
              //- i.fa.fa-plus.fa-3x
          img.img-responsive(src='images/speakers/eric_schoffstall.jpg', alt='Eric Schoffstall')
        .portfolio-caption
          h4 Eric Schoffstall
          p.text-muted
            a(href="http://wearefractal.com/") Fractal
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#speakersModal3', data-toggle='modal')
          //- .portfolio-hover
          //-   .portfolio-hover-content
              //- i.fa.fa-plus.fa-3x
          img.img-responsive(src='images/speakers/tba.jpg', alt='')
        .portfolio-caption
          h4 T.B.A.
          p.text-muted &nbsp;
