section#speakers.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Speakers
        h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    .row
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#speakersModal1', data-toggle='modal')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-responsive(src='images/portfolio/roundicons.png', alt='')
        .portfolio-caption
          h4 Round Icons
          p.text-muted Graphic Design
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#speakersModal2', data-toggle='modal')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-responsive(src='images/portfolio/startup-framework.png', alt='')
        .portfolio-caption
          h4 Startup Framework
          p.text-muted Website Design
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#speakersModal3', data-toggle='modal')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-responsive(src='images/portfolio/treehouse.png', alt='')
        .portfolio-caption
          h4 Treehouse
          p.text-muted Website Design
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#speakersModal4', data-toggle='modal')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-responsive(src='images/portfolio/golden.png', alt='')
        .portfolio-caption
          h4 Golden
          p.text-muted Website Design
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#speakersModal5', data-toggle='modal')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-responsive(src='images/portfolio/escape.png', alt='')
        .portfolio-caption
          h4 Escape
          p.text-muted Website Design
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#speakersModal6', data-toggle='modal')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-responsive(src='images/portfolio/dreams.png', alt='')
        .portfolio-caption
          h4 Dreams
          p.text-muted Website Design
