section#talks.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Talks
        h3.section-subheading.text-muted Listen and talk to these fine folks
    .row
      - var more = 'There are a total of 18 talk slots for which we received more than 160 proposals. We will announce more speakers every day.'
      .col-md-6
        +speaker('Douglas Crockford', 'The Better Parts', '#talk-the-better-parts')
        +speaker('Lena Reinhard', 'A Talk About Nothing', '#talk-a-talk-about-nothing', '@lrnrd')
        +speaker('Stephan Seidt', 'The Meaning of Words', '#talk-the-meaning-of-words', '@evilhackerdude')
        +speaker('Rebecca Murphey', 'Ain\'t No Party Like a Third-Party JavaScript Party', '#talk-aint-no-party', '@rmurphey')
        +speaker('Ramón Huidobro', 'How Teaching Kids Made Me a Better Developer', '#talk-teaching-kids', '@senorhuidobro')
        +speaker('Ola Gasidlo', 'Say Hello To Offline First', '#talk-say-hello-to-offline-first', '@misprintedtype')
        +speaker('Merlin Rebrović', 'Storytelling in Design and Engineering', '#talk-storytelling-in-design-and-engineering', '@merlinrebrovic')
        +speaker('Anika Lindtner', 'Getting more Women in Open Source. Why the f*ck should we care?', '#talk-more-woman-in-open-source', '@langziehohr')
        +speaker('Jennifer Wong', 'Tonight We\'re Gonna Code Like It\'s 1999: Designing Responsive Emails', '#talk-designing-responsive-emails', '@mybluewristband')
        
      .col-md-6
        +speaker('Karolina Szczur', 'No More Tools', '#talk-no-more-tools', '@fox')
        +speaker('Eric Schoffstall', 'Hacking the Human Genome', '#talk-hacking-the-human-genome', '@contrahacks')
        +speaker('Michele Guido', 'It Takes a Village to Make a Programmer', '#talk-it-takes-a-village', '@sheley')
        +speaker('Ben Schwarz', 'Useful Performance Metrics', '#talk-useful-performance-metrics', '@benschwarz')
        +speaker('Laura Frank', 'Containerized Applications with Docker', '#talk-containerized-applications-with-docker', '@rhein_wein')
        +speaker('Frederic Hemberger', 'Developing a Mindset for Web-Security', '#talk-mindest-for-web-security', '@fhemberger')
        +speaker('Franziska Hinkelmann', 'Mobile web apps with “native app” features', '#talk-mobile-web-apps-native-features', '@fhinkel')
        +speaker('Cristiano Betta', 'A Credit Card Walks into a Bar', '#talk-a-credit-card-walks-into-a-bar', '@cbetta')
        +speaker('Kerstin Puscke', 'No RSVP Required: Asynchronous Messaging', '#talk-asynchronous-messaging', '@titanoboa42')

    .row.text-center
      | Full schedule available on #{''}
      a(href='http://lanyrd.com/2015/concat/') Lanyrd.
      | #{' '} There is an offline capable #{' '}
      a(href='https://m.lanyrd.com/2015/concat/') mobile version
      | #{' '} as well.
