section#sponsors
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Our Sponsors
        h3.section-subheading.text-muted
          | We have a wide variety of sponsoring opportunities available.&nbsp;
          a(href='mailto:sponsoring@conc.at') Talk to us
    .row
      .col-md-3.col-sm-6
        a(href='http://fh-salzburg.ac.at/')
          img.img-responsive.img-centered(src='images/logos/fh.jpg', alt='University of Applied Science Salzburg')
      //- .col-md-3.col-sm-6
      //-   a(href='#')
      //-     img.img-responsive.img-centered(src='images/logos/designmodo.jpg', alt='')
      //- .col-md-3.col-sm-6
      //-   a(href='#')
      //-     img.img-responsive.img-centered(src='images/logos/themeforest.jpg', alt='')
      //- .col-md-3.col-sm-6
      //-   a(href='#')
      //-     img.img-responsive.img-centered(src='images/logos/creative-market.jpg', alt='')
