section#sponsors
  .container
    .row
      .col-md-3.col-sm-6
        a(href='#')
          img.img-responsive.img-centered(src='images/logos/envato.jpg', alt='')
      .col-md-3.col-sm-6
        a(href='#')
          img.img-responsive.img-centered(src='images/logos/designmodo.jpg', alt='')
      .col-md-3.col-sm-6
        a(href='#')
          img.img-responsive.img-centered(src='images/logos/themeforest.jpg', alt='')
      .col-md-3.col-sm-6
        a(href='#')
          img.img-responsive.img-centered(src='images/logos/creative-market.jpg', alt='')
