section#tickets.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Tickets
        h3.section-subheading.text-muted 
          | We'll open ticket sale shortly.&nbsp;
          a(href='https://ti.to/concat/2015', title='Ti.to event page') Register interest.
    .row.text-center
      .col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-2
          i.fa.fa-graduation-cap.fa-stack-1x.fa-inverse
        h4.service-heading Student
        p.text-muted
          | We want everyone who is interested to attend this conference. We will support students with a reduced ticket price.
      .col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-3
          i.fa.fa-flash.fa-stack-1x.fa-inverse
        h4.service-heading Early Bird
        p.text-muted
          | A thank you to all of you early birds who trust and enable us to get this conference off the ground.
      .clearfix.visible-sm
      .col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-ticket.fa-stack-1x.fa-inverse
        h4.service-heading Regular
        p.text-muted
          | One full day of knowledge, fun and hanging out with old and new friends. That's our regular ticket. 
      .col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-4
          i.fa.fa-gift.fa-stack-1x.fa-inverse
        h4.service-heading Golden
        p.text-muted
          | Here's the deal: You pay thrice the price and we'll enable two community members to attend who otherwhise couldn't.
