section#tickets.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Tickets
        h3.section-subheading.text-muted 
          | including breakfast and lunch served at the venue – and a party
    .row.text-center
      .ticket-info.col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-2
          i.fa.fa-graduation-cap.fa-stack-1x.fa-inverse
        h4.service-heading Student
        p.text-muted
          | We want everyone who is interested to attend this conference, thus we will support students with a reduced ticket price.
        tito-button(event='concat/2015', releases='hyshzvltdu')
          | 75€ + VAT
      .ticket-info.col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-3
          i.fa.fa-flash.fa-stack-1x.fa-inverse
        h4.service-heading Early Bird
        p.text-muted
          | A thank you to all of you early birds who trust and enable us to get this conference off the ground.
        tito-button(event='concat/2015', releases='sn91fbyx-si')
          | 125€ + VAT
      .clearfix.visible-sm
      .ticket-info.col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-ticket.fa-stack-1x.fa-inverse
        h4.service-heading 175€ + VAT
        p.text-muted
          | One full day of knowledge, fun and hanging out with old and new friends. That's our regular ticket. 
        button.btn.btn-xl.disabled
          | Available 2015
      .ticket-info.col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-4
          i.fa.fa-gift.fa-stack-1x.fa-inverse
        h4.service-heading Diversity
        p.text-muted
          | You want to enable community members to attend who otherwise couldn't?
        a.btn.btn-xl(href="mailto:sponsoring@conc.at") Please talk to us.
