section#tickets
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Tickets
        h3.section-subheading.text-muted 
          | including breakfast and lunch served at the venue – and a party
    .row.text-center
      .ticket-info.col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-2
          i.fa.fa-graduation-cap.fa-stack-1x.fa-inverse
        h4.service-heading Student Tickets
        p.text-muted
          | We want everyone who is interested to attend this conference, thus we will support students with a reduced ticket price.
        button.btn.btn-xl.disabled
          | 75€ + VAT
          span.badge Sold Out
      .ticket-info.col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-3
          i.fa.fa-flash.fa-stack-1x.fa-inverse
        h4.service-heading Early Bird Tickets
        p.text-muted
          | A “thank you” to all of you early birds who trust and enable us to get this conference off the ground.
        button.btn.btn-xl.disabled
          | 125€ + VAT
          span.badge Sold Out
      .clearfix.visible-sm
      .ticket-info.col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-ticket.fa-stack-1x.fa-inverse
        h4.service-heading Regular Tickets
        p.text-muted
          | One full day of knowledge, fun and hanging out with old and new friends. That's our regular ticket. 
        button.btn.btn-xl.disabled
          | 175€ + VAT
          span.badge Sold Out
      .ticket-info.col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-4
          i.fa.fa-gift.fa-stack-1x.fa-inverse
        h4.service-heading Diversity Tickets
        p.text-muted
          | Free tickets for underrepresented groups in tech. Would you like to attend the conference but cannot afford the ticket?
        button.btn.btn-xl.disabled
          | Apply Now
          span.badge None Left
    .row#travel
      include ./party
      include ./travel
      include ./accomodation
